<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_mentoringrait">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMentoringRAIT">
        <activity
            android:name=".mentee.MenteeAttendence"
            android:exported="false" />
        <activity
            android:name=".mentee.MenteeFees"
            android:exported="false" />
        <activity
            android:name=".mentee.MenteeGrades"
            android:exported="false" />
        <activity
            android:name=".mentee.MenteeExtraCirculam"
            android:exported="false" />
        <activity
            android:name=".mentor.MentorChat"
            android:exported="false" />
        <activity
            android:name=".mentee.MenteeChat"
            android:exported="false" />
        <activity
            android:name=".mentor.MentorPostNotice"
            android:exported="false" />
        <activity
            android:name=".mentee.MenteeNotice"
            android:exported="false" />
        <activity
            android:name=".admin.AdminCalendar"
            android:exported="false" />
        <activity
            android:name=".mentee.MenteeCalendar"
            android:exported="false" />
        <activity
            android:name=".mentor.MentorBatchTwo"
            android:exported="false" />
        <activity
            android:name=".mentor.MentorMentee"
            android:exported="false" />
        <activity
            android:name=".mentee.MenteeProfile"
            android:exported="false" />
        <activity
            android:name=".mentor.MentorBatchOne"
            android:exported="false"
            android:parentActivityName=".mentor.MentorDashboard" />
        <activity
            android:name=".AddMentor"
            android:exported="false" />
        <activity
            android:name=".admin.AdminMentee"
            android:exported="false" />
        <activity
            android:name=".admin.AdminBatch"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDivision"
            android:exported="false" />
        <activity
            android:name=".admin.AdminYear"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".mentor.MentorDashboard"
            android:exported="false" />
        <activity
            android:name=".mentee.MenteeDashboard"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>